*,
*::before,
*::after {
    box-sizing: border-box;
}

/* убираем дефолт стрелки из инпута */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    background: #0a377e;
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

button {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    outline: none;
}

.page {
    margin: 0 auto;
    /* background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); */
    min-height: 100vh;
    background: linear-gradient(135deg, #ffd3a5 0%, hsl(347, 97%, 69%) 100%);
    display: flex;
}

.sidebar {
    width: 40px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar__button {
    width: 30px;
    height: 30px;
}

.sidebar__button--theme {
    /* background-image: url(/images/png-transparent-computer-icons-icon-contrast-angle-text-trademark.png); */
    /* background-image: url(./images/png-transparent-computer-icons-icon-contrast-angle-text-trademark.png); */
    background-image: url(../images/png-transparent-computer-icons-icon-contrast-angle-text-trademark.png);
}

.sidebar__button--music {
    /* background-image: url(/images/music.png); */
    /* background-image: url(./images/settings__button.png); */
    background-image: url(../images/music.png);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    width: 90%;
    /* background-color: #A26E83;
    background: linear-gradient(135deg, #fffaf7 0%, #fff0f0 100%); */

    /* box-shadow: 0 20px 60px rgba(253, 101, 133, 0.3);
    overflow: hidden; */
}

.header {
    /* background: linear-gradient(135deg, #ffc4b8 0%, #ff9eaa 100%); */
    max-height: 80px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.logo__icon {
    /* background-image: url(/images/corgi__icon.png); */
    background-image: url(../images/sleeping.png);
    width: 80px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.logo__text {
    font-weight: 700;
    font-size: 36px;
}

/* .main {} */

.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
    gap: 30px;
}

.timer__mode-selector {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.timer__mode-button {
    font-weight: 500;
    font-size: 33px;
}

.timer__mode-button--break {
    color: #666;
}

.timer__mode-button--active {
    color: #FFF;
}

.timer__header {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}

.timer__display {
    height: 80px;
    font-weight: 700;
    font-size: 70px;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    width: 100%;
}

/* [data-unit="hours"] {
    color: rgba(255, 255, 255, 0.3);
} */

.timer__part {
    color: rgba(255, 255, 255, 0.3);

    /* Сброс стандартных стилей */
    border: none;
    background: none;
    outline: none;

    /* Наследование шрифта и цвета */
    font: inherit;
    color: inherit;

    /* Убираем стрелки у number input */
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;

    max-width: 88px;
    min-width: 40px;
}

.timer__part--active {
    color: #FFF;
}

.timer__controls {
    display: flex;
    gap: 10px;
    align-items: center;
}

.timer__button {
    display: none;
    transition: opacity 0.3s, transform 0.2s;
}

.timer__button--settings {
    /* background-image: url(/images/settings__button.png); */
    background-image: url(../images/settings__button.png);
    width: 30px;
    height: 50px;
}

/* .timer__hours {
    color: rgba(255, 255, 255, 0.3);
} */

.timer__button--start {
    /* background-image: url(/images/play__button.png); */
    background-image: url(../images/play__button.png);
    width: 70px;
    height: 70px;
}

.timer__button--pause {
    /* background-image: url(/images/pause__button.png); */
    background-image: url(../images/pause__button.png);
    width: 70px;
    height: 70px;
}

.timer__button--reset {
    /* background-image: url(/images/reset__button.png); */
    background-image: url(../images/reset__button.png);
    width: 70px;
    height: 70px;
}

.timer__button--active {
    display: block;
}

.timer__button[aria-hidden="true"] {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

/* Статистика */

.stats {
    margin-top: 100px;
    padding-top: 40px;
    border-top: 1px solid #f0f0f0;
}

.stats__header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.stats__calendar-button {
    width: 30px;
    height: 30px;
    background-image: url(../images/calendar__button.png);
}

.stats-grid {
    display: grid;
    grid-template-columns: 1fr 150px;
    gap: 12px 16px;
    align-items: center;
}

.stats-grid__label {
    font-weight: 500;
    color: #666;
}

.stats-grid__value {
    font-weight: 600;
    color: #333;
    text-align: right;
    gap: 20px;
    display: flex;
    justify-content: space-between;
}

.stat-value {
    font-size: 17px;
}

.stats-edit-button {
    width: 30px;
    height: 30px;
    background-image: url(../images/edit-btn.png);
}

/* Модалка */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: none;
    justify-content: center;
    align-items: center;

    z-index: 1000;
}

.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    cursor: pointer;
}

.modal--open {
    display: flex;
}

.calendar__container {
    display: flex;
    gap: 10px;
    flex-direction: column;

    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    border-radius: 20px;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 20px 40px rgba(255, 107, 107, 0.2);
}

.calendar__navigation {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: start;
}

.calendar__month-selector {
    position: relative;
}

.calendar__months-list {
    /* сброс стилей */
    list-style: none;
    padding: 0;
    margin: 0;

    /* нужно чтобы список был не в календаре и не расширял его при открытии */
    position: absolute;

    display: none;
    flex-direction: column;
    align-items: start;

    background: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 8px 0;
    min-width: 80px;
}

.calendar__months-list--opened {
    display: flex;
}

.calendar__months-item {
    width: 100%;
    text-align: left
}

.calendar__months-item:hover {
    background: #dbeafe;
}

.calendar__year-group {
    position: relative;
    display: inline-block;
    width: 60px;
}

.calendar__year-group:hover .calendar__year-controls {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.2s ease;
}

.calendar__year-selector {
    width: 100%;
    padding-right: 25px;
    box-sizing: border-box;
}

.calendar__year-controls {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    right: 1px;
    top: 1px;
    bottom: 1px;
    width: 14px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 2px);

    background: #f5f5f5;
    border-left: 1px solid #ccc;
    border-radius: 0 3px 3px 0;
}

.year-controls__up,
.year-controls__down {
    margin: 0;
    font-size: 8px;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.year-controls__up {
    border-bottom: 1px solid #ccc;
}

.nav-prev {
    /* border: 2px solid red; */
}

.calendar__body,
.calendar__days {
    display: grid;
    grid-template-columns: repeat(7, auto);
    gap: 10px;

}

.calendar__days {
    grid-template-rows: repeat(6, auto);
}

.dayOfTheMonth {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 20px;
    height: 20px;
}

.dayOfTheMonth:hover {
    cursor: default;
    background-color: #d3d3d3;
    border-radius: 20px;
}